* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/pattern-background-desktop.svg);
}

.card {
    width: 400px;
    height: 650px;
    background: white;
    border-radius: 15px;
}

.card-img {
    width: 100%;
    /* height: 220px; */
}

.card-img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.section {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section h1 {
    font-size: 1.5em;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.section p {
    width: 95%;
    margin: 25px 0;
    text-align: center;
    line-height: 25px;
    color: hsl(224, 23%, 55%);
}

.cnt-max {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* background-color: hsl(225, 100%, 94%); */
    background: red;
    border-radius: 10px;
    padding: 0 20px;
}

.container {
    display: flex;
    /* flex-direction: row;-------------- non serve */
    gap: 10px
    ;
}
.annual {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
}